<div>
    <table>
        <thead>
        <tr>
            <td>image</td>
            <td>Product</td>
            <td>Code</td>
            <td>Available</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <!--repeat the element in each product-->
        <tr ng-repeat="product in products">
            <td>
                <img ng-src="{{product.imageUrl}}"
                     title="{{product.productName}}">
            </td>
            <td>{{product.productName}}</td>
            <td>{{product.productCode}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price}}</td>
        </tr>
        </tbody>
    </table>
</div>
