<!--the child template for productEdit.info
    the name is used to reference the controls on the form from angular
     novalidate turns off browser validation
     angular changes the html form and input tags into angular directives for us
     this form uses Angular Validation states the rules for using these state are as follows
     Form must have a name
     input element must have a name
     input element must include and ng-model directive-->
<form class="form-horizontal" name="productForm"
      novalidate>
    <fieldset>
        <legend>Basic Product Information</legend>
        <!--product name section------------------------------------------------------------
        productForm.inputProductName.$dirty this directive makes sure that we dont output errors
         until the form is changed---->
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputProductName">Product Name</label>
            <div class="col-md-4">
                <!--the input box for the product name
                here ng-model is using the parent controller and updating the input data based on it
                this sets up a 2 way data binding ng-minlength sets the min length for validation
                       ng-maxlength set the max length for the unput-->
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       type="text"
                       placeholder="Product Name (required)"
                       ng-model="vm.product.productName"
                       required
                       ng-minlength="4"
                       ng-maxlength="12"/>
            </div>

            <span class="help-block has-error">
                <!--todo fix the message to work better in angular 1.5-->
                <!--ng-show will hide the text unless the validation is false-->
                <span ng-show="productForm.inputProductName.$error.required">
                    Product name is required.
                </span>
                <!--ng-show will hide the text unless the validation is false in this case if the
                 ng-minlength is not 4 then it will show the error-->
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Product name must be at least 4 characters in length.
                </span>
                <!--ng-show will hide the text unless the validation is false-->
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Product name cannot exceed 12 characters in length.
                </span>
            </span>
        </div>
        <!--end product name section------------------------------------------>
        <!--product number section------------------------------------------------------------------------->
        <!--the ng-class directives checks to see if the  productForm.inputProductCode.$invalid &&
                                    productForm.inputProductCode.$dirty are truthy and if so the class name is applied
                                    to the form-->
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductCode.$invalid &&
                                    productForm.inputProductCode.$dirty}">
            <label class="col-md-2 control-label" for="inputProductCode">Product Code</label>

            <div class="col-md-4">
                <!--ui-mask="AAA-**** (required)" sets a desired mask for the input this means
                the productCode starts with 3 letters then a dash then 4 alphanumeric values
                use a mask for phone numbers or credit card numbers or anything that requires strict entry-->
                <input class="form-control"
                       id="inputProductCode"
                       name="inputProductCode"
                       ui-mask="AAA-**** (required)"
                       ng-model="vm.product.productCode"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputProductCode.$invalid ">
                    Product Code is required
            </span>
        </div>
        <!--end product number section------------------------------------------>
        <!--date availabilty section--------------------------------------------->
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputAvailabilityDate">Availability</label>

            <div class="col-md-4">
                <div class="input-group">
                    <!--date picker control from angular-bootstrap is-open is bound
                    to the datepicker varible-->
                    <input class="form-control"
                           id="inputAvailabilityDate"
                           type="text"
                           datepicker-popup="MMM dd, yyyy "
                           is-open="vm.opened"
                           ng-model="vm.product.releaseDate"/>
                    <span class="input-group-btn">
                        <!--ng-click="vm.open($event) when the user
                        clicks the button we call the open method-->
                        <button class="btn btn-default"
                                ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar"/>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!--end date availabilty section--------------------------------------------->
        <!--description field section------------------------------------------------->
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputDescription">Description</label>

            <div class="col-md-10">
                <textarea class="form-control"
                          id="inputDescription"
                          placeholder="Description"
                          rows="3"
                          ng-model="vm.product.description"/>
            </div>
        </div>
        <!--end description field section------------------------------------------------->
        <!--save and cancel button ------------------------------------------------------------------>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                    <span>
                        <!--save button--------------------------------->
                        <button class="btn btn-primary"
                                style="width:80px;margin-right:10px"
                                ng-click="vm.submit(productForm.$valid)"
                                ng-disabled="productForm.$invalid">
                            Save
                        </button>
                        <!--end save button--------------------------------->
                    </span>
                <span>
                        <!--cancel button--------------------------------->
                        <button class="btn btn-default"
                                style="width:70px"
                                ng-click="vm.cancel()">
                            Cancel
                        </button>
                        <!--end cancel button--------------------------------->
                    </span>
            </div>
        </div>
        <!--end save and cancel button --------------------------------->

    </fieldset>
</form>
